#draganddrop
{
	display: inline;
	top: 50%;
	position: relative;
	font-weight: bold;
	text-align: center;
	border: 2px dashed #359;
	border-radius: 13px;
	cursor: default;
}

#draganddrop.hover
{
	box-shadow: 0px 0px 15px rgba(33,62,83,0.7) inset;
	-moz-box-shadow: 0px 0px 15px rgba(33,62,83,0.7) inset;
	-webkit-box-shadow: 0px 0px 15px rgba(33,62,83,0.7) inset;
	border: 2px solid #359;
}


#ttl
{
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
	color: #337ab7
}

#processing
{

}


#upload
{
	font-family: 'Roboto Condensed', sans-serif;
}



#nb
{
	font-family: 'Roboto Condensed', sans-serif;
}

#complete
{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	font-size: 20px;
}

#report
{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
}